*{
    margin: 0;
    background-color: black;
    color: white;
    padding: 0;
   

}
.instagram{
   height: 100vh;
   width: 100%; 
   display: flex;
}
.left-bar{
    /* background-color: aqua; */
    width:18% ;
    height: 100vh;
    border-right: 1px solid grey;

}
#logo{
    font-family:cursive;
    font-size: 30px;
}

.left-bar .items{
     display: flex; 
     font-size: 15px;
     text-align: center;
     align-items: center;
     padding: 15px;
}
.left-bar .items .material-symbols-outlined{
    font-size: 30px;
    margin-right: 15px;
    
}

.post{
    width: 57%;
    /* background-color: bisque; */
}
.post .story .items{
    display: flex;
    align-items: center;
    font-weight: 200;
    margin: 10px;
    font-size: small;
    justify-content: center;
}
.post .story{
    margin: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.post .story .items .profile{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.post .story .items .profile .img{
    background-image: conic-gradient(#feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5, #feda75);
    padding: 2px;
    border-radius: 50%;
    display: inline-block;
}

.post .story .items .profile .img img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding: 3px;
}
.post .main_post .profile{
     margin: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.post .main_post .profile img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 2px;
    box-sizing: border-box;
    display: inline-block;
    background-image: conic-gradient(#feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5, #feda75);
}
.post .main_post .img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.post .main_post .img img{
    height: auto;
    width:100% ;
    border-radius:10px ;
}
.post .main_post .engagement{
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
.post .main_post .engagement .material-symbols-outlined{
    font-size: 1.8rem;
}
.post .main_post .engagement .left{
    display: flex;
    align-items: center;
    gap: 20px;

}

.suggestion-box{
    width: 25%;
    height: 100vh;
    background-color:rgb(82, 14, 48);
}
.suggestion-box .suggestion{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 14px;
    
}


